@charset "ISO-8859-1";

.ribbon {
	width: 200px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 30px;
	right: -50px;
	z-index: 2;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 0.3px dashed;
	text-align: center;
	color: white;
}

.rejected .ribbon{
	background: #fc4c4c;
	box-shadow: 0 0 0 3px #F8463F, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
}
.rejected i{
	color: #fc4c4c;
}
.rejected .more{
	color: #fc4c4c;
	float: right;
}
.new .ribbon {
	background: #5185f5;
	box-shadow: 0 0 0 3px #5185f5, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
}
.new i{
	color: #5185f5;
}
.new .more{
	color: #5185f5;
	float: right;
}
.confirmed .ribbon {
	background: #9143cc;
	box-shadow: 0 0 0 3px #9143cc, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
}
.confirmed i{
	color: #9143cc;
}
.confirmed .more{
	color: #9143cc;
	float: right;
}
.process .ribbon {
	background: #57DD43;
	box-shadow: 0 0 0 3px #57DD43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
}
.process i{
	color: #57DD43;
}
.process .more{
	color: #57DD43;
	float: right;
}
 a:hover i {
            transform: scale(1.5);
        }

.wrap:after {
	width: 8px;
	height: 40px;
	right: 0px;
	top: 100px;
	background: #4D6530;
	border-radius: 0px 8px 8px 0px;
}

.wrap:before {
	width: 40px;
	height: 8px;
	right: 100px;
	background: #4D6530;
	border-radius: 8px 8px 0px 0px;
}

.wrap {
	width: 100%;
	height: 188px;
	position: absolute;
	top: -8px;
	left: 8px;
	overflow: hidden;
}

.wrap:before, .wrap:after {
	content: "";
	position: absolute;
}

.card-course{
	width: 18rem;
}

.btn.btn-rounded {
    border-radius: 50px
}

.scroll {
    max-height: 200px;
    overflow-y: auto;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(37, 117, 252, 0.5))
}
html, body { height: 100%; }
footer{position: sticky;}
body { display: flex; flex-direction: column; }
main { flex-grow: 1; }

