<!DOCTYPE html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Training Management System | Atos </title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/css/Dashboard.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script>
$(document).ready (function(){
        window.setTimeout(function () { 
           $(".alert").alert('close'); }, 5000);               
 });
function CountInstructors() {
    var inputElems = document.getElementsByTagName("input"),
    count = 0;
    for (var i=0; i<inputElems.length; i++) {
	    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true){
	        count++;
	    }
	}
    document.getElementById("instructorcount").innerHTML = "Instructors selected: " + count;
}
</script>
</head>
<body>
	<header>
		<nav class="navbar bg-white">
			<div class="container">
				<a th:href="@{/dashboard}">
					<img style="width: 50px;" src="../../assets/Atos_Origin_2011_logo.svg" alt="atos icon">
				</a>
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a th:href="@{/dashboard}">
							<button type="button" class="btn btn-primary"> My Dashboard </button>
						</a>
					</li>
				</ul>
				<div class="dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-user"></i> John Doe
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<li><a class="dropdown-item" th:href="@{/dashboard}"> Delivery Dashboard </a></li>
						<li><a class="dropdown-item" th:href="@{/LBP/dashboard}"> LBP Dashboard </a></li>
						<li><a class="dropdown-item" th:href="@{/trainerdashboard}"> Trainer Dashboard </a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" th:href="@{/login}"> Log out </a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="d-flex justify-content-center p-5 bg-light">
		<div class="row">
		<div class="col-lg-4">
			<div class="new card-course card m-1" >
				<div class="card-body">
					<h5 class="card-title">
						<i class="icon fas fa-book"
							th:utext="${' '+r.RequirementID + ' ' + r.TrainingArea}"></i>
					</h5>
					<h6 class="card-subtitle mb-2 text-muted"
						th:utext="${'Start date: ' + #dates.format(r.RequestedTrainingStartDate, 'MM/dd/yyyy')}"></h6>
					<p class="card-text" th:utext="${r.TrainingDescription}"></p>
					<p class="card-text"
						th:utext="${'Course Duration: ' + r.TotalDurationDays + ' days'}"></p>
					<p class="card-text"
						th:utext="${'User:  ' + r.RequirementUser+' - '+ r.RequirementUserVertical + ' ' + r.getVerticalMasterName() }"></p>
				</div>
				<div class="wrap">
					<span class="ribbon">New</span>
				</div>
			</div>
			
			<br/>
			<a th:href="dashboard"><button class="btn btn-primary">Go Back</button></a>
		</div>
		<div class="col-lg-8">
			<div class="container new border p-3">
				<div th:if="${alerttype=='success' || alerttype=='danger' }"  th:attr="class=${alerttype == 'success' ? 'alert alert-success' : 'alert alert-danger'}"  th:utext="${alertmessage}" role="alert">
				</div>
			<h2> Request Details </h2>
				<div class="row">
					<div class="col-6">
						<div class="card m-1">
							<div class="card-body">
								<ul class="list-group list-group-flush">
								  <li class="list-group-item" th:utext="${'&lt;strong&gt; Requirement ID: &lt;/strong&gt;'+r.RequirementID}"></li>
								  <!--<li class="list-group-item" th:utext="${'&lt;strong&gt;Received Data:&lt;/strong&gt; '+r.RequirementReceivedData}"></li>-->
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;User:&lt;/strong&gt; '+r.RequirementUser}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Vertical:&lt;/strong&gt; '+r.RequirementUserVertical + ' ' + r.getVerticalMasterName()}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Training Area:&lt;/strong&gt; '+r.TrainingArea}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Training Description:&lt;/strong&gt; '+r.TrainingDescription}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Requested Start Date:&lt;/strong&gt; '+ #dates.format(r.RequestedTrainingStartDate, 'dd-MM-yyyy HH:mm')}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Total Candidates:&lt;/strong&gt; '+r.TotalCandidates}"></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<form th:action="@{processRequestTrainers}" method="post">
							<div class="card new card-raised">
								<div class="card-body p-5 pb-2">
									<h5 class="card-title">
										<i class="icon fas fa-user-friends"></i> 
										Instructor's Names
									</h5>
									<hr class="style1">
									<div class="scroll">
										<div th:each="t : ${trainers}">
										  <input name="trainers[]" th:value="${t.MemberID}" type="checkbox" onclick="CountInstructors()" />
										  <label th:utext="${t.MemberID + '-' + t.MemberName}"></label><br>
										</div>
										<br>
									  </div>
									  <div id="instructorcount"></div>
									  <input type="submit" class="btn btn-primary mb-2" value="Send Training Request">
									  <input class="btn btn-primary float-right" value="Ask All Instructors">
								  	  <input name="requirementID" th:value="${r.RequirementID}" hidden/>
								</div>
							</div>
						</form>
						<br>
						<!--<form th:action="@{processRequirementMessage}" method="post">
							<div class="md-form">
							  <i class="icon fas fa-pencil-alt prefix"></i> Training Status Message
							  <textarea name="requirementMessage" class="md-textarea form-control" style="overflow-y: scroll;" rows="2"></textarea>
							  <div class="p-2">
								<input name="requirementID" th:value="${r.RequirementID}" hidden/>
								<input type="submit" class="btn btn-primary" value="Submit Message"/>
							  </div>
							</div>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer class="bg-white" style="bottom: 0; width: 100%; height: 10px">
		<div class="text-center p-4"
			style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright: <img style="width: 50px;"
				src="../../assets/Atos_logo.jpg" alt="atos icon">
		</div>
	</footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>