<!DOCTYPE html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>New Training</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/css/Dashboard.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script>
$(document).ready (function(){
        window.setTimeout(function () { 
           $(".alert").alert('close'); }, 5000);               
 });
function CountInstructors() {
    var inputElems = document.getElementsByTagName("input"),
    count = 0;
    for (var i=0; i<inputElems.length; i++) {
	    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true){
	        count++;
	    }
	}
    document.getElementById("instructorcount").innerHTML = "Instructors selected: " + count;
}
</script>
</head>
<body>
	<div>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<div class="d-flex">
					<img style="width: 50px;" src="/../../assets/Atos_logo.jpg"
						alt="atos icon">
				</div>
				<div class="row">
					<div class="btn-group col">
						<button type="button" class="btn btn-light dropdown-toggle"
							data-bs-toggle="dropdown" aria-expanded="false">Options
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Option #1</a></li>
							<li><a class="dropdown-item" href="#">Option #2</a></li>
							<li><a class="dropdown-item" href="#">Option #3</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">If necesary</a></li>
						</ul>
					</div>
				</div>
				<div class="d-flex">
					<a class="nav-link" href="#"><i class="fas fa-user"></i>
						Username</a>
				</div>
			</div>
		</nav>
	</div>
	<main class="p-5">
	<div class="row">
		<div class="col-3">
			<div class="new card-course card m-1" >
				<div class="card-body">
					<h5 class="card-title">
						<i class="icon fas fa-book"
							th:utext="${' '+r.RequirementID + ' ' + r.TrainingArea}"></i>
					</h5>
					<h6 class="card-subtitle mb-2 text-muted"
						th:utext="${'Start date: ' + #dates.format(r.RequestedTrainingStartDate, 'MM/dd/yyyy')}"></h6>
					<p class="card-text" th:utext="${r.TrainingDescription}"></p>
					<p class="card-text"
						th:utext="${'Course Duration: ' + r.TotalDurationDays + ' days'}"></p>
					<p class="card-text"
						th:utext="${'User:  ' + r.RequirementUser+' - '+ r.RequirementUserVertical + ' ' + r.getVerticalMasterName() }"></p>
				</div>
				<div class="wrap">
					<span class="ribbon">New</span>
				</div>
			</div>
			
			<br/>
			<a th:href="dashboard"><button class="btn btn-primary">Go Back</button></a>
		</div>
		<div class="col-9">
			<div class="container new border p-3">
				<div th:if="${alerttype=='success' || alerttype=='danger' }"  th:attr="class=${alerttype == 'success' ? 'alert alert-success' : 'alert alert-danger'}"  th:utext="${alertmessage}" role="alert">
				</div>
			<h2> <i class="icon fas fa-list-ul"></i> Request Details</h2>
				<div class="row">
					<div class="col-6">
						<div class="card m-1">
							<div class="card-body">
								<ul class="list-group list-group-flush">
								  <li class="list-group-item" th:utext="${'&lt;strong&gt; Requirement ID: &lt;/strong&gt;'+r.RequirementID}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Received Data:&lt;/strong&gt; '+r.RequirementReceivedData}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;User:&lt;/strong&gt; '+r.RequirementUser}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Vertical:&lt;/strong&gt; '+r.RequirementUserVertical + ' ' + r.getVerticalMasterName()}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Training Area:&lt;/strong&gt; '+r.TrainingArea}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Training Description:&lt;/strong&gt; '+r.TrainingDescription}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Requested Training Start Date:&lt;/strong&gt; '+r.RequestedTrainingStartDate}"></li>
								  <li class="list-group-item" th:utext="${'&lt;strong&gt;Total Candidates:&lt;/strong&gt; '+r.TotalCandidates}"></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-6">
						<form th:action="@{processRequestTrainers}" method="post">
							<div class="card new card-raised">
								<div class="card-body p-5 pb-2">
									<h5 class="card-title">
										<i class="icon fas fa-user-friends"></i> 
										Instructor's Names
									</h5>
									<hr class="style1">
									<div class="scroll">
										<div th:each="t : ${trainers}">
										  <input name="trainers[]" th:value="${t.MemberID}" type="checkbox" onclick="CountInstructors()" />
										  <label th:utext="${t.MemberID + '-' + t.MemberName}"></label><br>
										</div>
										<br>
									  </div>
									  <br>
									  <div id="instructorcount"></div>
									  <input type="submit" class="btn btn-primary" value="Request">
									  <input class="btn btn-primary float-right" value="Ask All Instructors">
									  
								  	  <input name="requirementID" th:value="${r.RequirementID}" hidden/>
								</div>
							</div>
							</form>
							<br>
							<form th:action="@{processRequirementMessage}" method="post">
								<div class="md-form">
								  <i class="icon fas fa-pencil-alt prefix"></i> Training Status Message
								  <textarea name="requirementMessage" class="md-textarea form-control" style="overflow-y: scroll;" rows="2"></textarea>
								  <div class="p-2">
								  	<input name="requirementID" th:value="${r.RequirementID}" hidden/>
								  	<input type="submit" class="btn btn-primary" value="Submit Message"/>
								  </div>
								</div>
							</form> 
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer style="bottom: 0; width: 100%; height: 10px">
		<div class="text-center p-4"
			style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright: <img style="width: 50px;"
				src="../../assets/Atos_logo.jpg" alt="atos icon">
		</div>
	</footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>